@import '../../variables.scss';

@keyframes expand {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes shake-left-right {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes hover-up-down-node {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(4px);
  }

  100% {
    transform: translateY(0px);
  }
}

.Node {
  @include flex-vertical;
  // background-color: $background-color-dark;
  background-color: $background-color-dark;
  background-image: linear-gradient(
    #1a1a1a,
    rgba(255, 255, 255, 0.165) 0em,
    transparent 8em
  );
  // background-image: linear-gradient(45, $base-yellow, $base-orange);
  clip-path: polygon(
    51% 2%,
    89% 21%,
    99% 60%,
    75% 99%,
    26% 99%,
    1% 60%,
    11% 21%
  );
  scale: 0.95;
}

.borderNode {
  position: relative;
  background-color: black;
  border-radius: 20px;
  clip-path: polygon(
    51% 2%,
    89% 21%,
    99% 60%,
    75% 99%,
    26% 99%,
    1% 60%,
    11% 21%
  );
  transition: all 0.2s ease-in-out;
}

.nodeOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 10px 1px rgb(255, 255, 255);
  border-radius: 8px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.165) 0em,
    transparent 8em
  );
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}

#podIcon {
  transition: all 0.2s ease-in-out;
  border: 1px solid $base-orange;
  border-radius: 50%;
  background-color: #00000040;
  &:hover {
    cursor: pointer;
    animation: hover-up-down-3D 1s infinite ease-in-out,
      podIconOrangeShadow 1s infinite ease-in-out;
  }

  &:active {
    cursor: pointer;
    animation: podIconOrangeShadow 1s infinite ease-in-out,
      scale-up-down 1s infinite ease-in-out;
  }
}

.row {
  display: flex;
  width: 100%;
  height: fit-content;
}

.item {
  height: 100px;
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 50%;
  width: 100px;
  font-size: 5rem;
}

.row:nth-child(odd) {
  background-color: rgba(255, 0, 0, 0);
}

.row:nth-child(even) {
  background-color: rgba(0, 0, 255, 0);
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.nodeContainer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.nodeContent {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  width: 10rem;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
  div {
    height: fit-content;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0.2em 0em;
  }

  *:hover {
    cursor: text;
  }
}

.nodeContainer:has(.nodeName:hover) .tooltip-text {
  visibility: visible;
  white-space: nowrap;
  top: 0%;
  right: 0%;
  z-index: 100;
}

.nodeName {
  position: relative;
  max-height: min-content;
  padding: 0.3rem;
}

.podCount {
  max-width: fit-content;
  margin: auto;
}

.tooltip-text {
  position: absolute;
  left: -50%;
  right: 0%;
  margin: auto;
  padding: 0.6em;
  width: fit-content;
  visibility: hidden;
  opacity: 0.9;
  scale: 0.8;
  &.dark {
    border: 3px solid white;
    color: white;
  }
  &.light {
    border: 3px solid black;
    color: black;
  }
}

@keyframes podIconOrangeShadow {
  0% {
    box-shadow: 0 0 0px $base-orange;
  }
  50% {
    box-shadow: 0 0 8px $base-orange;
    text-shadow: 0px 0px 10px $base-orange;
  }
  100% {
    box-shadow: 0 0 0px $base-orange;
  }
}
