@import 'variables';

.dark {
  background-color: $background-color-dark;
}

.light {
  background-color: $background-color-light;
}

.textShadowLight {
  text-shadow: 2px 2px 2px black;
}

.textShadowLighter {
  text-shadow: 1px 1px 1px black;
}

.Opacity-In {
  animation: opacity 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

.Opacity-Out {
  animation: opacity-reverse 0.5s ease-in-out;
  animation-fill-mode: backwards;
}
