@import './variables.scss';

@mixin flex-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin flex-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin grid-base {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
}

.outerContainer {
  @include flex-vertical;
  height: 100vh;
  width: 100vw;
  background-color: #222222;
  color: #ededed;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  overflow: hidden;
}

.innerContainer {
  @include flex-vertical;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.dark {
  background-color: $background-color-dark;
  color: $dark-text;
}

.light {
  background-color: $background-color-light;
  color: $light-text;
}

@keyframes hover-up-down {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes hover-up-down-3D {
  0% {
    transform: translateY(0px);
    box-shadow: 0 0 0px #287aff;
  }
  50% {
    transform: translateY(-3.5px);
    box-shadow: 0 0 8px #287aff;
    text-shadow: 0px 0px 10px #287aff;
  }
  100% {
    transform: translateY(0px);
    box-shadow: 0 0 0px #287aff;
  }
}

.Main {
  @include flex-vertical;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
