@import './Variables.scss';

@mixin flex-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin flex-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin grid-base {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
}

.outerContainer {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #222222;
  color: #ededed;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}

.innerContainer {
  position: relative;
  height: 100%;
  width: 100%;
}

.dark {
  background-color: $background-color-dark;
}

.light {
  background-color: $background-color-light;
}

.textShadowLight {
  text-shadow: 2px 2px 2px black;
}

.textShadowLighter {
  text-shadow: 1px 1px 1px black;
}

.Opacity-In {
  animation: opacity 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

.Opacity-Out {
  animation: opacity-reverse 0.5s ease-in-out;
  animation-fill-mode: backwards;
}

@keyframes hover-up-down {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity-reverse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hover-up-down-3D {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-3.5px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes navLinkBlueShadow {
  0% {
    box-shadow: 0 0 0px #287aff;
  }
  50% {
    box-shadow: 0 0 8px #287aff;
    text-shadow: 0px 0px 10px #287aff;
  }
  100% {
    box-shadow: 0 0 0px #287aff;
  }
}

@keyframes scale-up-down {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes text-flip-up {
  0% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

@keyframes text-flip-down {
  0% {
    transform: rotateX(-90deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

@keyframes bounce {
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0) rotate(0);
  }
  0% {
    transform: translateY(-100vh) rotate(0);
  }
  40% {
    transform: translateY(-7vh) rotate(-4deg);
  }
  60% {
    transform: translateY(-2vh) rotate(2deg);
  }
}

.Main {
  @include flex-vertical;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

$inline-blue: #24b0df;
$inline-red: #db3523;
$inline-orange: #f4a227;
$inline-white: #ededed;

.inlineOrangeText {
  color: $inline-orange;
  text-shadow: 2px 2px 2px black;
  display: inline;
}

.inlineBlueText {
  color: $inline-blue;
  text-shadow: 2px 2px 2px black;
  display: inline;
}

.inlineRedText {
  color: $inline-red;
  text-shadow: 2px 2px 2px black;
  display: inline;
}

.inlineWhiteText {
  color: $inline-white;
  text-shadow: 2px 2px 2px black;
  display: inline;
}
