@import './Base.scss';
@import './Variables.scss';

.draggableContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  border-radius: 0px;
  transition: all 0.5s ease-in-out;
  background-size: 1.6em 1.6em;
  background-attachment: local;
  background-image: linear-gradient(rgba(0, 0, 0) 0.1em, transparent 0.1em),
    linear-gradient(90deg, rgba(0, 0, 0) 0.1em, transparent 0.1em);
}

.graph {
  position: relative;
  width: fit-content;
  height: fit-content;
  transition: all 0.5s ease-in-out;
  backdrop-filter: blur(0.2rem);
  border-radius: 8px;
  animation: opacity 1s ease-in-out;
  padding: 1rem;
  &.dark {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid $dark-border;
  }

  &.light {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid $light-border;
    box-shadow: $pronounced-shadow;
  }
}

.row {
  perspective: 1000px;
}

.draggableInner {
  transform-origin: center center;
  position: relative;
  height: fit-content;
  width: fit-content;
  transition: all 0.5s ease-in-out;
  scale: 1;
}

.draggableContent {
  @include flex-vertical;
  position: relative;
  min-height: 100vh;
  transition: all 0.5s ease-in-out;
  transform-origin: 0% 0%;
  overflow: hidden;
  scale: 1;
}
