@import './base.scss';
@import './variables.scss';

@keyframes opacity-flicker {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }

}

.container {
  /*   overflow: scroll; */
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  cursor: grab;
  border-radius: 0px;
}

.container:active {
  cursor: grabbing;
}

.draggablelight {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200%;
  height: 200%;
  background: #cfcfcf;
  background-image: linear-gradient(
      rgba($graph-blue, 1) 0.1em,
      transparent 0.1em
    ),
    linear-gradient(90deg, rgba($graph-blue, 1) 0.1em, transparent 0.1em);
  background-size: 2.2em 2.2em;
  border-radius: 0px;
}

.draggabledark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200%;
  height: 200%;
  background: rgb(45, 45, 45);
  background-image: linear-gradient(
      rgba($graph-blue, 1) 0.1em,
      transparent 0.1em
    ),
    linear-gradient(90deg, rgba($graph-blue, 1) 0.1em, transparent 0.1em);
  background-size: 2.2em 2.2em;
  border-radius: 0px;
}

.draggableGlowOverlay {
  position: absolute;
  width: 200%;
  height: 200%;
  background: transparent;
  opacity: 1;
  animation: opacity-flicker 8s infinite ease-in-out;
  background-image: linear-gradient(rgba($graph-blue, 0.5) 0.1em, transparent 0.5em),
    linear-gradient(360deg, rgba($graph-blue, 0.5) 0.1em, transparent 0.5em),
    linear-gradient(270deg, rgba($graph-blue, 0.5) 0.1em, transparent 0.5em),
    linear-gradient(90deg, rgba($graph-blue, 0.5) 0.1em, transparent 0.5em);
  background-size: 2.2em 2.2em;
}
