@import './Base.scss';
@import './Variables.scss';

.graphContainer {
  position: relative;
  height: 200vh;
  width: 200vw;
  border-radius: 0;
  background-color: #000000;
}

.draggableContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  border-radius: 0px;
  transition: all 0.5s ease-in-out;
  cursor: grab;
  // resolution of the background image
  background-size: 2.2em 2.2em;
  // facilitates the movement of the background image when the user drags the graph
  background-attachment: local;
  background-image: 
    // horizontal lines
    linear-gradient(rgba($graph-blue, 1) 0.1em, transparent 0.1em),
    // vertical lines
    linear-gradient(90deg, rgba($graph-blue, 1) 0.1em, transparent 0.1em),
    // horizontal glow bottom side
    linear-gradient(rgba($graph-blue, 0.5) 0.1em, transparent 0.5em),
    // horizontal glow top side
    linear-gradient(360deg, rgba($graph-blue, 0.5) 0.1em, transparent 0.5em),
    // vertical glow left side
    linear-gradient(270deg, rgba($graph-blue, 0.5) 0.1em, transparent 0.5em),
    // vertical glow right side
    linear-gradient(90deg, rgba($graph-blue, 0.5) 0.1em, transparent 0.5em);
  &.light {
    background-image: 
    // horizontal lines
    linear-gradient(rgba($graph-blue, 1) 0.1em, transparent 0.1em),
    // vertical lines
    linear-gradient(90deg, rgba($graph-blue, 1) 0.1em, transparent 0.1em),
  }
  &:active {
    cursor: grabbing;
  }
}

.graph {
  position: relative;
  width: fit-content;
  height: fit-content;
  transition: all 0.5s ease-in-out;
  backdrop-filter: blur(8px);
  border-radius: 8px;
  &.dark {
    background-color: rgba(0, 0, 0, 0.030);
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 15px 0px $diamond-blue;
  }
  &.light {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgb(255, 255, 255);
  }
}

.draggableInner {
  transform-origin: center center;
  position: relative;
  height: fit-content;
  width: fit-content;
  transition: all 0.5s ease-in-out;
}

.draggableContent {
  @include flex-vertical;
  position: relative;
  height: 100vw;
  width: 100vw;
  min-width: fit-content;
  min-height: fit-content;
  transition: all 0.5s ease-in-out;
  transform-origin: center center;
}

@keyframes opacity-flicker {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
