@import './Base.scss';

@mixin outerView {
  @include flex-vertical;
  background: transparent;
  background-size: 3em 3em;
  border: 1.5px solid #000000;
  box-shadow: 0px 1px 10px 0px #000000;
  border-radius: 8px;
  height: 80%;
  width: 80%;
}

.outerViewdark {
  @include outerView;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7) 0.1em,
      transparent 0.1em
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.7) 0.1em, transparent 0.1em);
}

.outerViewlight {
  @include outerView;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7) 0.1em, transparent 0.1em),
    linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0.1em, transparent 0.1em);
}
