@import './base.scss';

.navDragButton {
  max-width: 40px;
  max-height: 40px;
}


#navDragImg {
  max-width: 40px;
  max-height: 40px;
}

.navContainer {
  overflow: visible;
  position: relative;
  top: 0%;
  z-index: 1;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 5px 5px #000000;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  width: fit-content;
  height: fit-content;
  &:hover {
    #navDragContainer {
      opacity: 0.5;
      &:hover {
        opacity: 1;
        background-color: #0000005d;
      }
    }
  }
}

.navContainer.vertical {
  overflow: visible;
  position: relative;
  top: 0%;
  z-index: 1;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 5px 5px #000000;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  &:hover {
    #navDragContainer {
      opacity: 0.5;
      &:hover {
        opacity: 1;
        background-color: #0000005d;
      }
    }
  }
}

.navDragContainer {
  @include flex-horizontal;
  position: absolute;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  pointer-events: all;
  z-index: 1000;
  &.vertical {
    @include flex-vertical;
    position: absolute;
    opacity: 1;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
    pointer-events: all;
  }
}

.navContainer:hover {
  box-shadow: 0px 1px 15px 0px #9d2719;
  transform: translateY(-2px);
  box-shadow: 10px 10px #000000;
}

.NavBar {
  @include flex-horizontal;
  height: 4rem;
  width: fit-content;
  background-color: #154084;
  border-radius: 8px;
  color: #ededed;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  overflow: visible;
  padding: 1rem 1rem;
  position: relative;
  pointer-events: visible;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 5px 1.5px #277aff;
}

.NavBar.vertical {
  @include flex-vertical;
  height: fit-content;
  width: min-content;
  background-color: #154084;
  border-radius: 8px;
  color: #ededed;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  position: relative;
  pointer-events: visible;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  .nav-right {
    @include flex-vertical;
  }
}

#App-Name-Header {
  text-shadow: 0px 0px 5px #000000;
  font-family: 'Baumans';
  font-size: 1.5rem;
  margin: 0;
}

#App-Name-Header:hover {
  text-shadow: 0px 0px 5px #287aff;
  font-family: 'Baumans';
  font-size: 1.5rem;
  margin: 0;
}

.nav-right {
  @include flex-horizontal;
  margin-left: auto;
}

.navLink {
  align-items: center;
  color: #ededed;
  text-decoration: none;
  margin: 0.5rem;
  cursor: pointer;
  text-shadow: 0px 0px 5px #000000;
  transition: all 0.2s ease-in-out;
  border-radius: 8px;
  padding: 0.5rem;
}

.navLink:hover {
  animation: hover-up-down-3D 1s infinite ease-in-out;
  align-items: center;
  color: #ededed;
  text-decoration: none;
  margin-left: 1rem;
  cursor: pointer;
  text-shadow: 0px 0px 5px #287aff;
  transform: translateY(-2px);
  box-shadow: 0 0 15px #287aff;
  background-color: #16428961;
}

.nav-right {
  @include flex-horizontal;
  margin-left: auto;
  padding: 0;
}
