@import './base.scss';

.NavBar {
  @include flex-horizontal;
  height: 3rem;
  width: 100%;
  background-color: #154084;
  color: #ededed;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  overflow: hidden;
  padding: 0 1rem;
  box-shadow: 0px 5px 5px #000000;
  position: relative;
}

#App-Name-Header {
  text-shadow: 0px 0px 5px #000000;
  font-family: 'Baumans';
  font-size: 1.5rem;
}

.switch {
  background-color: darken(#154084, 10%);
  backdrop-filter: blur(10px);
  font-family: 'Baumans';
  font-size: 1.5rem;
  border-radius: 8px;
  border: none;
  color: #ededed;
  text-shadow: 0px 0px 5px #000000;
  margin-left: auto;
  cursor: pointer;
}
