@import 'Variables.scss';

@keyframes hover-up-down-exaggerate {
  0% {
    transform: translateY(0px);
    box-shadow: 10px 10px #000000;
  }
  50% {
    transform: translate(5px, 5px);
    box-shadow: 0px 0px #000000;
  }
  100% {
    transform: translateY(0px);
    box-shadow: 10px 10px #000000;
  }
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shake-left-right {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}

.Node {
  position: relative;
  background-color: $base-red;
  border-radius: 8px;
  width: 10em;
  height: 10em;
  rotate: 45deg;
  margin: 4rem;
  border: 1px solid rgb(255, 255, 255);
  // box-shadow: 0px 0px 100px 1000px #ff020227;
  box-shadow: 10px 10px #000000;
  border-radius: 8px;
}

.Node:hover {
  animation-play-state: paused;
  box-shadow: 0px 1px 15px 0px #9d2719;
  transform: translateY(-2px);
  animation: hover-up-down-exaggerate 1s infinite ease-in-out;
  cursor: pointer;
  box-shadow: 10px 10px #000000;
  .outerNode {
    box-shadow: 0px 1px 15px 0px #9d2719;
    animation: expand 1s infinite ease-in-out;
    border: 2px solid black;
  }
}

.Node:active {
  animation: shake-left-right 0.5s infinite ease-in-out;
}

.nodeOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.165) 0em,
      transparent 8em
  );
}

.row {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
}
.item {
  height: 100px;
  width: 100px;
  font-size: 5rem;
}

.row:nth-child(odd) {
  background-color: rgba(255, 0, 0, 0);
}

.row:nth-child(even) {
  background-color: rgba(0, 0, 255, 0);
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.nodesContainer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.outerNode {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0px solid black;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.innerNode {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10em;
  height: 10em;
  background-color: transparent;
  transform: rotate(-45deg);
}
