@import 'Variables.scss';

@keyframes expand {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes shake-left-right {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes hover-up-down-node {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(4px);
  }

  100% {
    transform: translateY(0px);
  }
}

.Node {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: $background-color-dark;
  // background-image: linear-gradient(45, $base-yellow, $base-orange);
  border-radius: 8px;
  clip-path: polygon(
    51% 2%,
    89% 21%,
    99% 60%,
    75% 99%,
    26% 99%,
    1% 60%,
    11% 21%
  );
  user-select: none;
  scale: 0.95;
  left: -1.5%;
  top: -2%;
}

.borderNode {
  position: relative;
  background-color: black;
  border-radius: 20px;
  clip-path: polygon(
    51% 2%,
    89% 21%,
    99% 60%,
    75% 99%,
    26% 99%,
    1% 60%,
    11% 21%
  );
  transition: all 0.2s ease-in-out;
}

.borderNode:hover {
  cursor: pointer;
}

.nodeOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 10px 1px rgb(255, 255, 255);
  border-radius: 8px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.165) 0em,
    transparent 8em
  );
  transition: all 0.2s ease-in-out;
}

.row {
  display: flex;
  width: 100%;
  height: fit-content;
}

.item {
  height: 100px;
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 50%;
  width: 100px;
  font-size: 5rem;
}

.row:nth-child(odd) {
  background-color: rgba(255, 0, 0, 0);
}

.row:nth-child(even) {
  background-color: rgba(0, 0, 255, 0);
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.nodeContainer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.nodeContent {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  height: 70%;
  width: 70%;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;

  div {
    height: fit-content;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0.2em 0em;
  }
}

.nodeContainer:has(.nodeName:hover) .tooltip-text {
  visibility: visible;
  white-space: nowrap;
  top: 0%;
  right: 0%;
  z-index: 100;
}

.nodeName {
  position: relative;
}

.tooltip-text {
  position: absolute;
  left: -50%;
  right: 0%;
  margin: auto;
  padding: 0.6em;
  width: fit-content;
  visibility: hidden;

  border: 3px solid white;
  scale: 0.8;
}

@keyframes box-shadow-node {
  0% {
    box-shadow: 0px 0px 50px 5px rgb(255, 255, 255);
  }

  50% {
    box-shadow: 0px 0px 0px 0px rgb(255, 255, 255);
  }

  100% {
    box-shadow: 0px 0px 50px 5px rgb(255, 255, 255);
  }
}
