@import 'variables.scss';

.outerNotifContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 32;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
  &.light {
    background-color: $base-blue;
    box-shadow: $pronounced-shadow;
  }
  &.dark {
    background-color: $base-blue;
    border: 1.5px solid rgba($dark-border, 0.8);
  }
  &:hover {
    box-shadow: 15px 15px 1px 0 rgb(0, 0, 0);
    border: 1.5px solid rgba($light-border, 0.8);
    scale: 1.05;
  }
}

.notificationContainer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 1em;
  top: 2ch;
  left: 6ch;
  gap: 1em;
  border-radius: 20px;
  min-width: 20em;
  max-width: 25em;
  max-height: 15em;
  min-height: fit-content;
  z-index: 30;
  overflow: scroll;
  transition: all 0.5s ease-in-out;
  background-color: transparent !important;
}

.notificationMessage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 18em;
  min-height: 3em;
  gap: 2em;
  z-index: 31;
  background-color: darken($base-blue, 10%);
  border-radius: 20px;
  color: white;
  &.dark {
    background-color: darken($base-blue, 10%);
    border: 1.5px solid rgba($dark-border, 0.8);
  }
  &.light {
    background-color: darken($base-blue, 10%);
    border: 1.5px solid rgba($light-border, 1);
  }
}

.notificationTitle {
  align-self: center;
  color: white;
  text-shadow: 0px 0px 5px #000000;
}

.logText {
  color: $base-orange;
}
