@import 'variables';

@mixin podContainer {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 1px rgba(20, 20, 20, 0.5);
  border-bottom: 1px solid rgb(255, 255, 255);
}

.podsView {
  position: relative;
  width: 100%;
  height: 100%;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5) 0.1em, transparent 0.1em),
    linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0.1em, transparent 0.1em);
  background-size: 1em 1em;
  padding: 1rem;
  &.light {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5) 0.1em,
        transparent 0.1em
      ),
      linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0.1em, transparent 0.1em);
  }
}

.podsViewInner {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  animation: opacity 1s ease-in-out;
  animation-fill-mode: backwards;
  animation-delay: 0.5s;
  opacity: 1;
  backdrop-filter: blur(5px);
  border-radius: 8px;
  overflow: auto;
  padding: 1.5rem 0;
  &.dark {
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 0px white;
  }
  &.light {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: none;
  }
}

.containerBuckets {
  @include podContainer;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  border: none;
  box-shadow: 0px 4px 7.5px -3px rgba(20, 20, 20, 0.5);
}

.containerBucketOuter {
  padding: 0.5rem;
  overflow-x: auto;
  border-top: none;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.containerImage {
  white-space: nowrap;
}

.containersLabel {
  font-size: 1.4em;
  font-weight: 200;
}

.containerBox {
  width: 100%;
  height: fit-content;
  border: 0.2em solid rgba(255, 255, 255, 0.162);
  padding-bottom: 0.5em;
  margin: 0;
  word-break: break-all;
  .containerTitle {
    padding-bottom: 1.6em;
    margin-bottom: 1em;
    font-size: 1.5em;
  }
  .infoDiv {
    margin-top: 0.5em;
  }
  .imageBox {
    height: 5em;
    overflow: auto;
  }
}

.podContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: min-content;
  height: min-content;
  transition: all 0.5s ease-in-out;
  background: $healthyGradient;
  background-size: 400% 400%;
  animation: expand-card-deck 1s ease-in-out, wave 2s ease-in-out,
    move-gradient 4s ease-in-out infinite;

  background-repeat: repeat;
  animation-fill-mode: backwards;
  border-radius: 10px;
  margin: 0.5rem;
  background-color: rgba(31, 31, 31, 0.55);
  &.healthyPod {
    background: $healthyGradient;
    background-size: 400% 400%;
    animation: opacity 0.5s ease-in-out, wave 0.5s ease-in-out,
      move-gradient 4s ease-in-out infinite;
    background-repeat: repeat;
    animation-fill-mode: backwards;
  }

  &.warningPod {
    background: $warningGradient;
    background-size: 400% 400%;
    animation: opacity 0.5s ease-in-out, wave 0.5s ease-in-out,
      move-gradient 4s ease-in-out infinite;
    background-repeat: repeat;
    animation-fill-mode: backwards;
  }

  &.unhealthyPod {
    background: $unhealthyGradient;
    background-size: 400% 400%;
    animation: opacity 0.5s ease-in-out, wave 0.5s ease-in-out,
      move-gradient 4s ease-in-out infinite;
    background-repeat: repeat;
    animation-fill-mode: backwards;
  }
}

.podsContainer {
  text-align: center;
  width: fit-content;
  height: fit-content;
  border: none;
  padding: 0 1.5rem;
  hr {
    height: 100%;
    width: 100%;
  }
}

.pod {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 18rem;
  height: 20rem;
  margin: 0.5rem;
  gap: 0.1em;
  border: 1.5px solid rgb(255, 255, 255);
  border-radius: 4px;
  background-color: $background-color-dark;
  background-image: linear-gradient(#1f1f1f, #ffffff14);
  transition: all 0.5s ease-in-out;
  overflow: auto;
}

.podName {
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  flex-shrink: 0;
  width: 100%;
  height: fit-content;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  box-shadow: 0px 1px 7.5px 0px rgba(20, 20, 20, 0.5);
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.podMetrics {
  @include podContainer;
  width: 100%;
  height: fit-content;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
  box-shadow: 0px 4px 7.5px -3px rgba(20, 20, 20, 0.5);
}

.podRow {
  display: flex;
  width: fit-content;
  height: fit-content;
  // margin: 0 1.5rem;
}

.podsViewPolkaOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 1em 1em;
  border-radius: 0;
}

.podsViewOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  border-radius: 0;
  pointer-events: all;
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(1rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes expand-card-deck {
  0% {
    margin: -9.5rem;
  }

  100% {
    margin: 0.5rem;
  }
}

@keyframes move-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
