@import 'base';
@import 'variables';

.navPositions {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  pointer-events: none;
}

#topNavPosition {
  @include flex-horizontal;
  position: relative;
  width: 100%;
  top: 0;
}

#bottomNavPosition {
  @include flex-horizontal;
  position: relative;
  width: 100%;
  top: 0;
}

#leftNavPosition {
  @include flex-horizontal;
  position: relative;
  height: 100%;
  width: 50px;
  top: 0;
}

#rightNavPosition {
  @include flex-horizontal;
  position: relative;
  height: 100%;
  width: 50px;
  top: 0;
}

.styleTop {
  position: absolute;
  display: flex;
  left: 0%;
  top: 5%;
  height: 50px;
  width: 100%;
}

.styleLeft {
  position: absolute;
  display: flex;
  left: 5%;
  top: 0%;
  height: 100%;
  width: 50px;
}

.styleBottom {
  position: absolute;
  display: flex;
  left: 0%;
  bottom: 10%;
  height: 50px;
  width: 100%;
}

.styleRight {
  position: absolute;
  display: flex;
  right: 5%;
  top: 0%;
  height: 100%;
  width: 50px;
}

.draggableContainer {
  pointer-events: all;
}
