$background-color-dark: #222222;
$background-color-light: #d0d0d0;
$base-blue: #154084;
$base-red: #9d2719;
$base-yellow: #d7b418;
$base-orange: #f4a227;
$dark-text: #ededed;
$light-text: #222222;
$graph-blue: #188fff;
$graph-yellow: #f5d300;
$diamond-blue: rgb(200, 230, 255);
$unhealthy-pod: #ad4a39;
$healthy-pod: #42a62b;
$warning-pod: #e8c529;