$background-color-dark: #222222;
$background-color-light: #d0d0d0;
$base-blue: #154084;
$base-red: #9d2719;
$base-yellow: #d7b418;
$base-orange: #f4a227;
$accent-blue: #188fff;
$accent-red: #ff4d4d;
$accent-yellow: #f5d300;
$accent-orange: #f4a227;
$dark-text: #ededed;
$light-text: #222222;
$graph-blue: #188fff;
$graph-yellow: #f5d300;
$diamond-blue: rgb(200, 230, 255);
$unhealthy-pod: #ad4a39;
$healthy-pod: #42a62b;
$warning-pod: #e8c529;
$pronounced-shadow: 8px 8px 1px 0 rgb(0, 0, 0);
$healthyGradient: linear-gradient(-45deg, #52caee, #3c53e7, #23a6d5, #23d5ab);
$unhealthyGradient: linear-gradient(-45deg, #e65252, #e73c3c, #d52323, #ab2323);
$warningGradient: linear-gradient(-45deg, #e6e652, #e7e73c, #d5d523, #abab23);
