@import '../../css/base.scss';
@import '../../css/variables.scss';

.podsView {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    background-image: radial-gradient(rgba($graph-blue, 1) 2px, transparent 3px),
      radial-gradient(rgba($graph-blue, 0.5) 15%, transparent 60%);
    background-size: 1em 1em;
    padding: 1rem;
    &.light {
      background-image: radial-gradient(
        rgba($graph-blue, 1) 2px,
        transparent 3px
      );
    }
  }

  .podsViewInner {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    animation: opacity 1s ease-in-out;
    animation-fill-mode: backwards;
    animation-delay: 0.5s;
    opacity: 1;
    backdrop-filter: blur(5px);
    border-radius: 8px;
    overflow: auto;
    padding: 1.5rem 0;
    &.dark {
      background-color: rgba(0, 0, 0, 0.03);
      border: 1px solid rgb(255, 255, 255);
      box-shadow: 0px 0px 15px 0px $diamond-blue;
    }
    &.light {
      background-color: rgba(255, 255, 255, 0);
      border: 1px solid rgb(255, 255, 255);
      box-shadow: none;
    }
  }

  .podsContainer {
    text-align: center;
    width: fit-content;
    height: fit-content;
    border: none;
    padding: 0 1.5rem;
    hr {
      height: 100%;
      width: 100%;
    }
  }
  
  .podsViewOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 0;
    pointer-events: all;
  }

  