@import '../../../css/variables.scss';

.copyToClipboard {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  transition: all 0.5s ease-in-out;
  border-radius: 50%;
  padding: 0.2em;
  border: none;
  color: white;
  background-color: transparent;
  font-size: 1.5rem;
  &:hover {
    cursor: pointer;
    transform: translateY(-0.1em) scale(1.1);
  }
}
