@import '../../css/variables.scss';
@import '../../css/base.scss';

.switchContainer {
  position: relative;
  margin: 0.1em;
}

.switchButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5em;
  height: 1.5em;
}

.check-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brightnessMode {
  position: relative;
  appearance: none;
  width: 100%;
  height: 100%;
  // background: #e4e4e4;
  border-radius: 50px;
  // box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.4s;
}

.slider {
  position: absolute;
  width: 2em;
  height: 2em;
  top: -0.3em;
  left: -0.5em;
  background: transparent;
  // border-radius: 50%;
  // border: 1px solid $dark-border;
  transition: 0.4s ease-in-out;
  pointer-events: none;
}

// .switchBar[type='checkbox']:checked {
//   background: #1f1f1f;
// }

.switchBar[type='checkbox']:checked + .slider {
  left: 50%;
  // transform: scale3d(-1.2, 1, 1);
  width: 2em;
  height: 2em;
  top: -0.3em;
  // background: #ffffff;
}

.themeIcon {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.2s ease-in-out;
  pointer-events: none;
}
